body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    background-color: #e3e5f1;
    border-radius: 20px;
    border: 2px solid #3946a2;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 120px; 
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
    color: #333;
    margin: 0;
}

p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0 20px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #3946a2;
    box-shadow: 0 0 5px rgba(57, 70, 162, 0.5);
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #3946a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    background-color: #2d3693;
}

.back {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    color: #3946a2;
    display: flex;
    align-items: center;
}

.back img {
    width: 20px;
    margin-right: 5px;
}
